[Unit]
Description="Enables promiscuous mode on start up which allows wlan devices to share metallb exposed services."

[Service]
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 5; done;'
ExecStart=ip link set {{ network_interface }} promisc on
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target